<section id="achieved" class="ts-block text-center text-white pb-0" data-bg-color="#1e1e27">
    <div class="container">

        <div class="ts-title">
            <h2>What I Have Achieved</h2>
        </div>

        <div class="row">
            <div class="col-md-8 offset-sm-2">
                <p class="mb-5 pb-3">
                    From wireframe to Miniamal Viable Product. Conspect to creation in a number of days not months or years.
					With the ablity to pivot on an idea and the ethos of "Lets get it done". 
                </p>
            </div>
        </div>

        <div class="row">
           <!-- <img src="/assets/img/img__dashboard.png" class="img-fluid" alt="">-->
            
		   {% include cards.html %}  
          
        </div>

    </div>
</section>