@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap);@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,700);@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css);@import url(https://fonts.googleapis.com/css2?family=Inter&family=Varela+Round&display=swap);@import url(https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.0/lity.min.css);@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css);:root {
--font-family: "Manrope",sans-serif;
--gradient-text: linear-gradient(89.97deg,#ae67fa 1.84%,#f49867 102.67%);
--gradient-bar: linear-gradient(103.22deg,#ae67fa -13.86%,#f49867 99.55%);
--color-bg: #6c2a90;
--color-footer: #042c54;
--color-blog: #042c54;
--color-text: #ae67fa;
--color-subtext: #ff8a71
}
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
.wave-1 {
-webkit-animation-delay: 0s;
animation-delay: 0s;
}
.wave-2 {
-webkit-animation-delay: 1s;
animation-delay: 1s;
}
.wave-3 {
-webkit-animation-delay: 2s;
animation-delay: 2s;
}

.waves {
position: absolute;
width: 150px;
height: 150px;
background: #4ed1f5;
opacity: 0;
border-radius: 100%;
right: -50px;
bottom: -50px;
animation: waves 3s ease-in-out infinite;
}

.wrapper {
display: inline-block;
position: relative;
margin-top: 4rem;
/* top: 80%; */
left: 10%;
transform: translate(-50%,-50%);
}
.video-main {
position: relative;
display: inline-block;
}
.gradient-text {
/* Fallback: Set a background color. */
background-color: red;

/* Create the gradient. */
background-image: linear-gradient(89.97deg,#ae67fa 1.84%,#f49867 102.67%);

/* Set the background size and repeat properties. */
background-size: 100%;
background-repeat: repeat;

/* Use the text as a mask for the background. */
/* This will show the gradient as a text color rather than element bg. */
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-background-clip: text;
-moz-text-fill-color: transparent;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
  display: none; 
}
}

.pulse-button {
position: relative;
top: 50%;
left: 50%;
margin-left: -50px;
margin-top: -50px;
display: block;
width: 100px;
height: 100px;
font-size: 1.3em;
font-weight: light;
font-family: 'Trebuchet MS', sans-serif;
text-transform: uppercase;
text-align: center;
line-height: 100px;
letter-spacing: -1px;
color: white;
border: none;
border-radius: 50%;
background: #5a99d4;
cursor: pointer;
box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
-webkit-animation: pulse 1.5s infinite;
}
.pulse-button:hover {
-webkit-animation: none;
}

@-webkit-keyframes pulse {
0% {
@include transform(scale(.9));
}
70% {
@include transform(scale(1));
box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
}
100% {
@include transform(scale(.9));
box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
}
}
.shopify {
height: 70px;
}
.gpt3__whatgpt3 {
display: flex;
flex-direction: column;
padding: 2rem;
background: var(--color-footer);
background: radial-gradient(circle at 30% -100%,#042c54 25%,#042c54 85%,#1b78de 100%);
-webkit-filter: drop-shadow(0 4px 4px rgba(228,21,193,.25));
filter: drop-shadow(0 4px 4px rgba(228,21,193,.25));
}
.section__margin {
margin: 4rem 2rem;
}
.gpt3__features-container__feature-title {
    flex: 1 1;
    max-width: 180px;
    margin-right: 2rem;
}
.gpt3__whatgpt3-feature .gpt3__features-container__feature {
    flex-direction: column;
}
.gpt3__features-container__feature-title div {
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    margin-bottom: 0.25rem;
}
.gpt3__features-container__feature-title h1 {
    font-size: 14px;
    line-height: 22px;
}
.gpt3__features-container__feature-title h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -.04em;
    color: #fff;
}
.gpt3__features-container_feature-text p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
}
.gpt3__features-container_feature-text p {
    font-size: 12px;
    line-height: 20px;
}
.gpt3__whatgpt3-heading h1 {
    font-size: 28px;
    line-height: 40px;
}
.gpt3__whatgpt3-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
}
.gpt3__whatgpt3-heading h1 {
    font-size: 28px;
    line-height: 40px;
}   
.navbar .navbar-nav {
   
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    cursor: pointer;
}
.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gpt3__footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid #fff;
    text-align: center;
    margin-bottom: 10rem;
    cursor: pointer;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ff8a71 !important;
}
a {
    color: unset;
    text-decoration: none;
}
.footer-main #bt {
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
}
.gpt3__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-footer);
}
.gpt3__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}
.gpt3__footer-links div {
    margin: 1rem 0;
}
.gpt3__footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 15px;
    color: #fff;
}
.gpt3__footer-links div {
    margin: 1rem 0;
}
.gpt3__footer-links_div h4 {
    font-size: 14px;
    line-height: 17px;
    font-family: var(--font-family);
    color: #fff;
    margin-bottom: 0.9rem;
}
.gpt3__footer-links_div p {
    font-size: 12px;
    line-height: 15px;
    font-family: var(--font-family);
    color: #fff;
    margin: 0.5rem 0;
    cursor: pointer;
}
.gpt3__footer-links div {
    width: 250px;
    margin: 1rem;
}
.gpt3__footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.gpt3__footer-copyright p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}
p {
    margin: 0 0 10px;
}
.navbar-inverse {
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
.gpt3__features-heading {
    flex: 1 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 5rem;
}
.gpt3__brand div {
    flex: 1 1;
    max-width: 250px;
    min-width: 120px;
    margin: 1rem;
}
.section__padding {
    padding: 4rem 2rem;
}
.dropbox {
    height: 150px;
}
.gpt3__features-heading p {
    color: var(--color-subtext);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--font-family);
    margin-top: 2rem;
}
.gpt3__features-heading h1 {
    font-size: 28px;
    line-height: 38px;
}
.gpt3__features-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
}
.gpt3__possibility-image img {
    width: 100%;
    height: 100%;
}
.gpt3__possibility-content {
    margin-top: 2rem;
}
.gpt3__possibility-content {
    flex: 1 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}
.gpt3__possibility-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71e5ff;
}
.section__padding {
    padding: 4rem;
}
.gpt3__possibility-content {
    margin-top: 2rem;
}
.gpt3__possibility-content {
    flex: 1 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}
.gpt3__possibility {
    flex-direction: column;
}
.gpt3__possibility-image {
    flex: 1 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
}
.gpt3__possibility {
    flex-direction: column;
}

.gpt3__possibility-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
}
.gpt3__possibility-content p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.team-members li>div {
    width: 48%;
}
.team-members li>div {
    float: none;
    display: inline-block;
    width: 30%;
    margin: 0!important;
}
.member-details *, .member-details>div:after {
    cursor: pointer;
    transition: all .4s ease;
}

.member-info {
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(45deg) translate(-12px,15px);
    transform: rotate(45deg) translate(-12px,15px);
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
}
.team-members {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.team-members {
    margin-top: 15vh;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.gpt3__blog-container_article-image {
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}
.gpt3__blog-container_article-image img {
    width: 100%;
    height: 100%;
}
.gpt3__blog-container_article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    height: 100%;
}
.gpt3__blog-container_article-content h3 {
    font-size: 18px;
    line-height: 25p;
}
.gpt3__blog-container_article-content h3 {
    font-family: var(--font-family);
    font-size: 25.11px;
    font-weight: 800;
    line-height: 30.3px;
    color: #fff;
    margin-bottom: 5rem;
    cursor: pointer;
}
.gpt3__possibility-image {
    flex: 1 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
}
.gpt3__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar);
}
.team-overview h2 {
    font-family: var(--font-family);
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 5px;
    color: #ff8a71;
}
.gpt3__blog {
    display: flex;
    flex-direction: column;
}
.member-details>div {
    position: relative;
    overflow: hidden;
}
.member-details>div {
    background: #ff8a71;
    background: linear-gradient(90deg,rgba(21,21,21,.6) 45%,rgba(51,51,51,.5) 85%);
    margin: 5px;
}
.member-details *, .member-details>div:after {
    cursor: pointer;
    transition: all .4s ease;
}
.pull-right {
    float: right!important;
}
.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.gpt3__cta-btn button {
    background: #000;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}
.col-sm-4 h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}
.navbar-brand {
    float: left;
    height: 97px !important;
    padding: 15px 15px;
    font-size: 18px;
    /* line-height: 20px; */
}
.team-members li:last-child>div:first-child {
    margin-left: 40%;
}
.team-members li>div {
    float: left;
    width: 20%;
}
.member-info {
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(45deg) translate(-12px,15px);
    transform: rotate(45deg) translate(-12px,15px);
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
}
.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
}
.rounded-circle {
    border-radius: 50%!important;
}
.user_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;
}
.d-flex {
    display: flex!important;
}
.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
}
.gpt3__blog-heading h1 {
    font-size: 62px;
    line-height: 75px;
    font-family: var(--font-family);
    font-weight: 800;
}
.gpt3__footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 64px;
    line-height: 75px;
}
.user_info span {
    font-size: 20px;
    color: white;
}
.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
.card {
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0,0,0,0.4) !important;
}
.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}
.attach_btn {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}
.type_msg {
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 100px !important;
    overflow-y: auto;
}
.input-group-append {
    margin-left: -1px;
}
.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    position: absolute;
    bottom: 0px;
}
.msg_card_body {
    overflow-y: auto;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}
.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}
.img_cont_msg {
    height: 40px;
    width: 40px;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

.justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}
.gpt3__blog-container_article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    height: 100%;
}
.gpt3__blog-container_article-image img {
    width: 100%;
    height: 100%;
}
.gpt3__blog-container_article-image {
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}
.gpt3__blog-container_article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-footer);
}
.gpt3__blog-container_groupA {
    flex: 0.75 1;
    margin-right: 2rem;
}
.gpt3__blog-container {
    display: flex;
    flex-direction: row;
}
.gpt3__blog {
    display: flex;
    flex-direction: column;
}
.gpt3__blog-heading {
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;
}
.gpt3__blog-heading h1 {
    font-size: 62px;
    line-height: 75px;
    font-family: var(--font-family);
    font-weight: 800;
}
.gpt3__blog-container_article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-footer);
}

.gpt3__blog-container_groupB {
    flex: 1 1;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}
.gpt3__features-container__feature-title {
    flex: 1 1;
    max-width: 180px;
    margin-right: 2rem;
}
.gpt3__blog-container_article-content p {
    font-family: var(--font-family);
    font-size: 11.65px;
    font-weight: 700;
    line-height: 35px;
    color: #fff;
}
.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}
.type_msg {
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 100px !important;
    overflow-y: auto;
}
.input-group-append {
    margin-left: -1px;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.msg_head {
    position: relative;
}
.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
.gpt3__header-image{
flex: 1;
display: flex;
/* justify-content: center; */
/* align-items: center; */
position: relative;
 left: -150%;
/*overflow: hidden !important;*/
z-index: 0;
width: 100%;
}
#Div1 canvas{
   /* margin-left: -50% !important;
    overflow: hidden;
    position: relative;
    padding-top: -100% !important;
    top: -50% !important; */
    right: 50%;
    top: -250% !important;
    position: relative;
    margin-top: -25%;
    overflow: hidden;
}