<!doctype html>
<html lang="{{ site.lang }}">
{% include header8.html %}
<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
<body class="has-loading-screen">

<div class="ts-page-wrapper">
    <!--Brand Navigation
    ====================================================================================================================
    -->
    <div id="brand-navigation">

        <div class="container">

            <div id="brand">
                <button class="navbar-toggler d-block d-xl-none" type="button">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/index.html">
                    <img src="assets/img/brand-light.png" alt="brand" class="mw-100">
                </a>
            </div>
        </div>

    </div>

    <!--Main Left Navigation
    ====================================================================================================================
    -->
    {% include navigation1.html %}

    <!--Content
    ====================================================================================================================
    -->
    <div class="ts-content">
        <!--HERO HEADER
        ================================================================================================================
        ================================================================================================================
        -->
        <header id="ts-hero" class="ts-block">

            <div class="container pt-2 pt-sm-5 pt-lg-0">
                <h1 class="ts-text-underline">Let’s Talk Together</h1>
            </div>

        </header>

        <!--MAIN CONTENT
        ================================================================================================================
        ================================================================================================================
        -->
        <main id="ts-content">

            <!--Map
            ============================================================================================================
            -->
        

            <!--Contact Info
            ============================================================================================================
            -->
            <section id="cotact-info" class="ts-block">
                <div class="container">

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/justingrierson/online" style="min-width:320px;height:100%;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
                    
                </div>
            </section>

            <!--The Team
            ============================================================================================================
            -->
            <!--
            <section id="the-team" class="ts-block">

                <div class="container">

                    <div class="ts-title">
                        <h2>The Team</h2>
                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <div class="ts-member">
                                <div class="ts-image">
                                    <div class="ts-img-into-bg">
                                        <img src="assets/img/img__person--01.jpg" alt="">
                                    </div>
                                </div>
                                <h5>Gloria Derouen</h5>
                                <h6>Company CEO</h6>
                                <div class="ts-social">
                                    <a href="#" class="ts-underline ts-link clearfix">Facebook</a>
                                    <a href="#" class="ts-underline ts-link ">Twitter</a>
                                </div>
                            </div>
                        </div>
                        

                        <div class="col-md-4">
                            <div class="ts-member">
                                <div class="ts-image">
                                    <div class="ts-img-into-bg">
                                        <img src="assets/img/img__person--02.jpg" alt="">
                                    </div>
                                </div>
                                <h5>Thomas Quintana</h5>
                                <h6>Head Designer</h6>
                                <div class="ts-social">
                                    <a href="#" class="ts-underline ts-link clearfix">Facebook</a>
                                    <a href="#" class="ts-underline ts-link ">Twitter</a>
                                </div>
                            </div>
                        </div>
                    

                        <div class="col-md-4">
                            <div class="ts-member">
                                <div class="ts-image">
                                    <div class="ts-img-into-bg">
                                        <img src="assets/img/img__person--03.jpg" alt="">
                                    </div>
                                </div>
                                <h5>Connie Braden</h5>
                                <h6>Developer</h6>
                                <div class="ts-social">
                                    <a href="#" class="ts-underline ts-link clearfix">Facebook</a>
                                    <a href="#" class="ts-underline ts-link ">Twitter</a>
                                </div>
                            </div>
                        </div>
                      

                    </div>

                </div>

                <div class="ts-background ts-img-into-bg ts-background-repeat">
                    <img src="assets/img/bg__pattern--dot.png" alt="">
                </div>

            </section>
-->
            <!--Partners
            ============================================================================================================
            -->
           {% include partners.html %}
        </main>
        <!--end #content-->

        <!--FOOTER
        ================================================================================================================
        ================================================================================================================
        -->
      
         {% include footer1.html %}
        
        <!--end #footer-->

    </div>
    <!--end page-->
</div>

<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/isInViewport.jquery.js"></script>
<script src="assets/js/scrolla.jquery.min.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/jquery-validate.bootstrap-tooltip.min.js"></script>
<script src="assets/js/leaflet.js"></script>
<script src="assets/js/custom.js"></script>

<script>
    var latitude = 51.522610;
    var longitude = -0.085670;
    var markerImage = "assets/img/map-marker.png";
    var mapElement = "map-contact";

    var map = L.map(mapElement).setView([latitude, longitude], 14);

    L.tileLayer('http://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var markerIcon = L.icon({
        iconUrl: markerImage,
        iconSize: [28, 38],
        iconAnchor: [14, 38]
    });

    L.marker([latitude, longitude],{icon: markerIcon}).addTo(map);

</script>



</body>
</html>
