


<!doctype html>
<html lang="{{ site.lang }}">
    {% include header1.html %}
<body class="has-loading-screen">

<div class="ts-page-wrapper">
    <!--Brand Navigation
    ====================================================================================================================
    -->
    {% include brand1.html %}

    <!--Main Left Navigation
    ====================================================================================================================
    -->
    {% include navigation1.html %}

    <!--Content
    ====================================================================================================================
    -->
    <div class="ts-content">
        <!--HERO HEADER
        ================================================================================================================
        ================================================================================================================
        -->
        {% include header13.html %}

        <!--MAIN CONTENT
        ================================================================================================================
        ================================================================================================================
        -->
        <main id="ts-content">

            <!--Blog Listing
            ============================================================================================================
            -->

            <div class="container">

                <div class="row">
                    <!-- Content -->

                    <div class="col-md-9 col-sm-9">

                        <section>
                            
                        
                            <div id="result"></div>
                        
                            <div class="nav-btn-container">
                                <button class="prev-btn">Prev</button>
                                <button class="next-btn">Next</button>
                            </div>
                            
                            <!-- script -->
                            <script src="js/jquery.min.js"></script>
                            <script src="js/ajax.js"></script>

                            <!-- Pagination -->
                            <div class="text-center">
                                <nav class="d-inline-block">
                                    <ul class="pagination">
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    </ul>
                                </nav>
                            </div>

                        </section>

                    </div>
                    <!-- end Content -->

                    <!-- sidebar -->
                    <div class="col-md-3 col-sm-3">

                        <section id="sidebar" class="sidebar">

                            <aside id="search">
                                <header><h3>Search</h3></header>
                                <div class="input-group">
                                    <input type="text" class="form-control framed" placeholder="Enter Keyword">
                                    <span class="input-group-btn"><button class="btn btn-primary btn-sm" type="button"><i class="fa fa-search"></i></button></span>
                                </div>
                            </aside>

                            <aside id="post-archive">
                                <header><h3>Post Archive</h3></header>
                                <ul class="list-links list-unstyled">
                                    <li><a href="#">June 2014</a></li>
                                    <li><a href="#">May 2014</a></li>
                                    <li><a href="#">April 2014</a></li>
                                    <li><a href="#">March 2014</a></li>
                                    <li><a href="#">January 2014</a></li>
                                    <li><a href="#">December 2013</a></li>
                                    <li><a href="#">November 2013</a></li>
                                    <li><a href="#">August 2013</a></li>
                                </ul>
                            </aside>

                            <aside id="categories">
                                <header><h3>Categories</h3></header>
                                <ul class="list-links list-unstyled">
                                    <li><a href="#">Architecture</a></li>
                                    <li><a href="#">Apartments</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Do it yourself</a></li>
                                    <li><a href="#">Housing</a></li>
                                    <li><a href="#">Interior</a></li>
                                    <li><a href="#">Trends</a></li>
                                </ul>
                            </aside>

                        </section>

                    </div>

                    <!-- end Sidebar -->
                </div>
            </div>

        </main>
        <!--end #content-->

  
        <!--FOOTER
        ================================================================================================================
        ================================================================================================================
        -->
        {% include footer1.html %}
        <!--end #footer-->

    </div>
    <!--end page-->

</div>
{% include scripts.html %}
</body>
</html>

<!-- Blog Layout End -->
