<!doctype html>
<html lang="{{ site.lang }}">

  {% include head1.html %}

<body class="has-loading-screen">

<div class="ts-page-wrapper">
    <!--Brand Navigation
    ====================================================================================================================
    -->
  {% include brand1.html %}
    <!--Main Left Navigation
    ====================================================================================================================
    -->
  {% include navigation1.html %}
    <!--Content
    ====================================================================================================================
    -->
    <div class="ts-content">
        <!--HERO HEADER
        ================================================================================================================
        ================================================================================================================
        -->
        <header id="ts-hero" class="ts-height--100vh text-white ts-has-overlay align-items-end">

            <div class="container pb-5">
                <h1>StarCreative</h1>
                <h4>Graphic Design, UX/UI, Developing</h4>
            </div>

            <div class="ts-background owl-carousel ts-slider" data-owl-loop="1" data-owl-items="1">
                <div class="ts-slide">
                    <div class="ts-img-into-bg ts-background-image">
                        <img src="assets/img/img__work__bg--01.jpg" alt="">
                    </div>
                </div>
                <div class="ts-slide">
                    <div class="ts-img-into-bg ts-background-image">
                        <img src="assets/img/img__work__bg--02.jpg" alt="">
                    </div>
                </div>
                <div class="ts-slide">
                    <div class="ts-img-into-bg ts-background-image">
                        <img src="assets/img/img__work__bg--03.jpg" alt="">
                    </div>
                </div>
            </div>

        </header>

        <!--MAIN CONTENT
        ================================================================================================================
        ================================================================================================================
        -->
        <main id="ts-content">

            <!--Description
            ============================================================================================================
            -->
            <section id="brief" class="ts-block">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="ts-title">
                                <h2>The Story</h2>
                            </div>
                        </div>

                        <div class="col-md-8">

                            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec nunc vitae
                                nibh congue pellentesque. Mauris scelerisque quam semper feugiat tincidunt. Pellentesque
                                a ullamcorper erat, id dapibus velit. Aliquam erat volutpat. Proin at sapien leo. Nullam
                                fermentum purus ac massa dignissim, in cursus turpis lobortis. Aliquam lacinia ante a
                                velit viverra scelerisque. Suspendisse nec dui sed tortor mollis rutrum nec at leo.
                            </p>

                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="ts-title">
                                        <h4>Work Info</h4>
                                    </div>
                                    <dl class="ts-description-list">
                                        <dt>Client</dt>
                                        <dd>Vertical Solutions</dd>
                                        <dt>Date</dt>
                                        <dd>03-12-2016</dd>
                                        <dt>Website</dt>
                                        <dd><a href="#" class="ts-underline">www.example.com</a></dd>
                                        <dt>Share</dt>
                                        <dd>
                                            <a href="#" class="px-1">
                                                <i class="fab fa-facebook-square"></i>
                                            </a>
                                            <a href="#" class="px-1">
                                                <i class="fab fa-twitter-square"></i>
                                            </a>
                                            <a href="#" class="px-1">
                                                <i class="fab fa-pinterest-square"></i>
                                            </a>
                                        </dd>
                                    </dl>
                                </div>

                                <div class="col-sm-6">
                                    <div class="ts-title">
                                        <h4>My Services</h4>
                                    </div>
                                    <ul class="list-unstyled">
                                        <li class="pb-1">Graphic Design</li>
                                        <li class="pb-1">Web Design</li>
                                        <li class="pb-1">Copywriting</li>
                                        <li class="pb-1">Art Direction</li>
                                        <li class="pb-1">Photography</li>
                                        <li class="pb-1">Branding</li>
                                    </ul>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </section>

            <!--Blockquote
            ============================================================================================================
            -->
            <section id="blockquote" class="ts-block ts-background-repeat text-center" data-bg-image="assets/img/bg__pattern--dot.png">
                <div class="container">
                    <div class="row">

                        <div class="col-md-9 offset-sm-1">
                            <blockquote class="blockquote">
                                <h4 class="font-weight-light">
                                    Cras nisl lacus, tincidunt vitae neque vitae, interdum iaculis
                                    tortor. Orci varius natoque penatibus et magnis dis parturient montes
                                </h4>
                                <footer class="blockquote-footer">Penatibus et magnis dis parturient montes nascetur</footer>
                            </blockquote>
                        </div>

                    </div>
                </div>
            </section>

            <!--Image
            ============================================================================================================
            -->
            <section class="ts-block">
                <div class="container">
                    <img src="assets/img/img__work__bg--01.jpg" alt="" class="img-fluid">
                </div>
            </section>

            <!--Gallery
            ============================================================================================================
            -->
            <section id="gallery" class="ts-block pt-5">
                <div class="container">

                    <div class="row ts-gallery">

                        <div class="col-md-6">
                            <a href="portfolio__detail--default.html" class="card ts-gallery__item">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="assets/img/img__work--01.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6">
                            <a href="portfolio__detail--default.html" class="card ts-gallery__item">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="assets/img/img__work--02.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-4">
                            <a href="portfolio__detail--default.html" class="card ts-gallery__item">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="assets/img/img__work--03.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-4">
                            <a href="portfolio__detail--default.html" class="card ts-gallery__item">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="assets/img/img__work--04.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-4">
                            <a href="portfolio__detail--default.html" class="card ts-gallery__item ts-half">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="assets/img/img__work--05.jpg" alt="">
                                </div>
                            </a>
                            <a href="portfolio__detail--default.html" class="card ts-gallery__item ts-half">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="assets/img/img__work--06.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                    </div>

                </div>
            </section>

        </main>
        <!--end #content-->

        <!--FOOTER
        ================================================================================================================
        ================================================================================================================
        -->
   {% include footer1.html %}
        <!--end #footer-->

    </div>
    <!--end page-->
</div>

	{% include scripts5.html %}

</body>
</html>
