<!doctype html>
<html lang="{{ site.lang }}">
  {% include header1.html %}
<body class="has-loading-screen">
<div class="ts-page-wrapper">
    <!--Brand Navigation
====================================================================================================================
    -->
{% include brand1.html %}
    <!--Main Left Navigation
====================================================================================================================
    -->
{% include navigation1.html %}
    <!--Content
====================================================================================================================
    -->
<div class="ts-content">
<!--HERO HEADER
================================================================================================================================================================================================================================
-->
<header id="ts-hero" class="ts-block">
<div class="container pt-2 pt-sm-5 pt-lg-0">
<h1 data-animate="ts-reveal">
<span class="wrapper">
<span>Our Works</span>
</span>
</h1>
<h4>Portfolio Masonry</h4>
</div>
</header>
<!--MAIN CONTENT
================================================================================================================================================================================================================================
-->
{% include maincontent8.html %}
<!--end #content-->
<!--FOOTER
==============================================================================================================================================================================================================================
-->
{% include footer1.html %}
<!--end #footer-->
</div>
<!--end page-->
</div>
{% include scripts.html %}
</body>
</html>