<!doctype html>
<html lang="{{ site.lang }}">
    {% include header1.html %}
<body class="has-loading-screen">

<div class="ts-page-wrapper">
    <!--Brand Navigation
    ====================================================================================================================
    -->
    {% include brand1.html %}

    <!--Main Left Navigation
    ====================================================================================================================
    -->
    {% include navigation1.html %}

    <!--Content
    ====================================================================================================================
    -->
    <div class="ts-content">
        <!--HERO HEADER
        ================================================================================================================
        ================================================================================================================
        -->
        <header id="ts-hero" class="ts-block">

            <div class="container pt-2 pt-sm-5 pt-lg-0">
                <h1 data-animate="ts-reveal">
                    <span class="wrapper">
                        <span>Search</span>
                    </span>
                </h1>
                <!--<h4>Portfolio Two Columns</h4>-->
            </div>

        </header>

        <!--MAIN CONTENT
        ================================================================================================================
        ================================================================================================================
        -->
        <main id="ts-content">

            <!--Works
            ============================================================================================================
            -->
            <section id="works">
                <div class="container">

                    <div class="row no-gutters ts-gallery">

         <div>
<span id="wallet-address"></span>
</div>
<form>
<div style="max-height: 10px;">
<img id="logo" src="/images/logo.png" alt="Girl in a jacket" height="90px">
</div><br /><br /><br /><br /><br />
<input id="price" type="number" value="0"><br />
<input id="name" type="text"><br />
<textarea id="message" name="message" rows="10" cols="30"></textarea>
</form>
<div>
<span id="get-memo"></span>
</div>
<script type="text/javascript">
var account = null;
var contract = null;
const ABI = [{"inputs":[],
"stateMutability":"nonpayable",
"type":"constructor"},
{"anonymous":false,
"inputs":[{"indexed":true,
"internalType":"address",
"name":"from",
"type":"address"},
{"indexed":false,"internalType":"uint256","name":"timestamp","type":"uint256"},
{"indexed":false,"internalType":"string","name":"name","type":"string"},
{"indexed":false,"internalType":"string","name":"message","type":"string"}],
"name":"NewMemo","type":"event"},
{"inputs":[{"internalType":"string","name":"_name","type":"string"},
{"internalType":"string","name":"_message","type":"string"}],
"name":"buyCoffee","outputs":[],"stateMutability":"payable","type":"function"},
{"inputs":[],"name":"getMemos","outputs":[{"components":[{"internalType":"address","name":"from","type":"address"},
{"internalType":"uint256","name":"timestamp","type":"uint256"},
{"internalType":"string","name":"name","type":"string"},
{"internalType":"string","name":"message","type":"string"}],
"internalType":"struct BuyMeACoffee.Memo[]","name":"","type":"tuple[]"}],
"stateMutability":"view","type":"function"},
{"inputs":[],"name":"withdrawTips","outputs":[],"stateMutability":"nonpayable","type":"function"}];
const ADDRESS = "0xB7E093cA948a59D5e6179FCdE28B996b4C631924";
(async() =>{
if (window.ethereum){
await window.ethereum.send('eth_requestAccounts');
window.web3 = new Web3(window.ethereum);

var accounts = await window.web3.eth.getAccounts();
account = accounts[0];
document.getElementById('wallet-address').textContent = account;
document.getElementById('logo').onclick = ()=>{
sendmemo();
}
contract = new web3.eth.Contract(ABI, ADDRESS);
if (contract){
var memos = await contract.methods.getMemos().call()
.then(function(error, result) {
if (!error){
for (i = 0; i < result.length; i++){
document.getElementById('get-memo').innerHTML = i;
}
}else{
var memo33 = document.getElementById('get-memo');
for (i = 0; i < error.length; i++){
var backside = document.createElement("div");
memo33.appendChild(backside);
backside.innerHTML = "<br />name :"+error[i][2]+"<br />message :"+error[i][3];
}
}
})

var stringreplace =  String(memos).replaceAll(",","<br/>");
}
}
})();
const sendmemo = async () => {
if (contract){
var name1 = document.getElementById('name').value;
var message1 = document.getElementById('message').value;
var price1 = document.getElementById('price').value;
var accounts = await window.web3.eth.getAccounts();
account = accounts[0];
var transaction = await contract.methods.buyCoffee(name1, message1).send({       
from: accounts[0],
value: web3.utils.toWei(price1, 'ether'),
})
};
}
</script>

                    </div>
                </div>
            </section>

            <!--Call to action
            ============================================================================================================
            -->
            <section class="py-5 text-center ts-background-repeat" data-bg-image="assets/img/bg__pattern--dot.png">
                <div class="container py-5 my-5">

                    <h2 class="mb-5">Do You Love What You See?</h2>
                    <a href="#" class="btn btn-outline-dark">Contact Me</a>

                </div>
            </section>

        </main>
        <!--end #content-->

         <!--FOOTER
        ================================================================================================================
        ================================================================================================================
        -->
        {% include footer1.html %}
        <!--end #footer-->

    </div>
    <!--end page-->

</div>
{% include scripts6.html %}
</body>
{% include scriptsearch.html %}
</html>

<!-- Blog Layout End -->
