<!doctype html>
<html lang="{{ site.lang }}">
    {% include header1.html %}
<body class="">

<div class="ts-page-wrapper">
    <!--Brand Navigation
    ====================================================================================================================
    -->
    {% include brand1.html %}

    <!--Main Left Navigation
    ====================================================================================================================
    -->
    {% include navigation1.html %}

    <!--Content
    ====================================================================================================================
    -->
    <div class="ts-content">
        <!--HERO HEADER
        ================================================================================================================
        ================================================================================================================
        -->
        <header id="ts-hero" class="ts-block">

            <div class="container pt-2 pt-sm-5 pt-lg-0">
                <div class="ts-title mb-0">
                    <h1>Blog Listing</h1>
                </div>
            </div>

        </header>

        <!--MAIN CONTENT
        ================================================================================================================
        ================================================================================================================
        -->
        <main id="ts-content">

            <!--Blog Listing
            ============================================================================================================
            -->

            <div class="container">

                <div class="row">
                    <!-- Content -->

                    <div class="col-md-9 col-sm-9">

                        <section>

                            <div  id="table-body">

</div>
         <div class="text-center">                   
        <nav class="blog-pagination justify-content-center d-flex d-inline-block">
    <ul class="pagination" id="pagination-wrapper">
    </ul>
</nav> 
</div>
                            <!-- Pagination -->
                  <!--          <div class="text-center">
                                <nav class="d-inline-block">
                                    <ul class="pagination">
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    </ul>
                                </nav>
                            </div>-->

                        </section>

                    </div>
                    <!-- end Content -->

                  <!-- sidebar -->
                  {% include sidebar1.html %}

                    <!-- end Sidebar -->
                </div>
            </div>

        </main>
        <!--end #content-->

  
        <!--FOOTER
        ================================================================================================================
        ================================================================================================================
        -->
        {% include footer1.html %}
        <!--end #footer-->

    </div>
    <!--end page-->

</div>
{% include scripts.html %}
{% include scriptpagination.html %}
</body>
{% include scriptsearch.html %}
</html>

<!-- Blog Layout End -->
