<!doctype html>
<html lang="{{ site.lang }}">
    {% include header1.html %}
<body class="has-loading-screen">

<div class="ts-page-wrapper">
    <!--Brand Navigation
    ====================================================================================================================
    -->
    {% include brand1.html %}

    <!--Main Left Navigation
    ====================================================================================================================
    -->
    {% include navigation1.html %}

    <!--Content
    ====================================================================================================================
    -->
    <div class="ts-content">
        <!--HERO HEADER
        ================================================================================================================
        ================================================================================================================
        -->
        <header id="ts-hero" class="ts-block">

            <div class="container pt-2 pt-sm-5 pt-lg-0">
                <div class="ts-title mb-0">
                    <h1>Blog Listing</h1>
                </div>
            </div>

        </header>

        <!--MAIN CONTENT
        ================================================================================================================
        ================================================================================================================
        -->
        <main id="ts-content">

            <!--Blog Listing
            ============================================================================================================
            -->

            <div class="container">

                <div class="row">
                    <!-- Content -->

                    <div class="col-md-9 col-sm-9">

                        <section>

                            <article class="blog-post">
                                <a href="blog__detail.html" class="blog-post-header-image">
                                    <div class="bg-transfer"><img src="assets/img/bg__photographer.jpg" alt=""></div>
                                </a>
                                <header><a href="blog__detail.html"><h2>Vivamus porta orci eu turpis vulputate ornare fusce hendrerit arcu risu</h2></a></header>
                                <figure class="meta">
                                    <a href="#" class="link-icon"><i class="fa fa-user"></i>Admin</a>
                                    <a href="#" class="link-icon"><i class="fa fa-calendar"></i>06/04/2014</a>
                                    <div class="tags">
                                        <a href="#" class="tag article">Architecture</a>
                                        <a href="#" class="tag article">Design</a>
                                        <a href="#" class="tag article">Trend</a>
                                    </div>
                                </figure>
                                <p>Fusce quis nulla volutpat, rhoncus ligula ut, pulvinar nisi. In dapibus urna sit amet accumsan
                                    tristique. Donec odio ligula, luctus venenatis varius id, tincidunt ac ipsum. Cras commodo,
                                    velit nec aliquam dictum, tortor velit dictum ipsum, sed ornare nunc leo nec ipsum. Vestibulum
                                    sagittis sapien vitae tristique mollis. Aliquam hendrerit nulla semper, viverra mi et,
                                    hendrerit mauris. Maecenas hendrerit congue ultrices. In laoreet erat blandit eros aliquet,
                                    in malesuada sem rutrum. In placerat porta egestas.
                                </p>
                                <a href="blog__detail.html" class="btn btn-primary btn-small btn-grey">Read More</a>
                            </article>

                            <article class="blog-post">
                                <a href="blog__detail.html" class="blog-post-header-image">
                                    <div class="bg-transfer"><img src="assets/img/img__case-study--03.jpg" alt=""></div>
                                </a>
                                <header><a href="blog-detail.html"><h2>Nulla sapien leo, placerat sed lacinia nec, rutrum quis</h2></a></header>
                                <figure class="meta">
                                    <a href="#" class="link-icon"><i class="fa fa-user"></i>Admin</a>
                                    <a href="#" class="link-icon"><i class="fa fa-calendar"></i>06/04/2014</a>
                                    <div class="tags">
                                        <a href="#" class="tag article">Interior</a>
                                        <a href="#" class="tag article">New Living</a>
                                    </div>
                                </figure>
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                    Donec rutrum imperdiet ligula in bibendum. Aenean vulputate rutrum lobortis. Nullam non
                                    mi ac dui egestas venenatis. Etiam venenatis fermentum accumsan. Lorem ipsum dolor
                                    sit amet, consectetur adipiscing elit. Donec at lacus sapien.
                                </p>
                                <a href="blog-detail.html" class="btn btn-primary btn-small btn-grey">Read More</a>
                            </article>

                            <article class="blog-post">
                                <a href="blog__detail.html" class="blog-post-header-image">
                                    <div class="bg-transfer"><img src="assets/img/img__work__bg--02.jpg" alt=""></div>
                                </a>
                                <header><a href="blog-detail.html"><h2>Cras commodo, velit nec aliquam dictum, tortor velit
                                    dictum ipsum, sed ornare nunc leo nec ipsum. Vestibulum sagittis sapien vitae tristique mollis.</h2></a></header>
                                <figure class="meta">
                                    <a href="#" class="link-icon"><i class="fa fa-user"></i>Admin</a>
                                    <a href="#" class="link-icon"><i class="fa fa-calendar"></i>06/04/2014</a>
                                    <div class="tags">
                                        <a href="#" class="tag article">Interior</a>
                                        <a href="#" class="tag article">New Living</a>
                                    </div>
                                </figure>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet commodo mauris,
                                    sit amet commodo turpis. Duis consequat placerat lacus, in sagittis metus pretium vel.
                                    In luctus justo venenatis, accumsan justo sit amet, volutpat dolor. Pellentesque quis nulla
                                    nec nisi tempor scelerisque. Nam nec scelerisque sapien. Donec eleifend purus id neque pretium,
                                    at sollicitudin erat vestibulum. Donec ac tempus tellus, ac dignissim sapien. Fusce et
                                    elementum arcu. Maecenas sit amet tincidunt lorem.
                                </p>
                                <p>Vivamus porta orci eu turpis vulputate ornare. Fusce hendrerit arcu risus, sed commodo
                                    lacus viverra in. Donec eget ligula in risus rutrum pretium id a elit. Nullam ut tristique
                                    arcu. Nam quis nunc ac eros accumsan tincidunt vel sit amet lorem. Sed euismod, turpis
                                    et facilisis vestibulum, leo lectus consectetur velit, sed lobortis ante dolor nec leo.
                                    Praesent congue tellus eu dui consectetur commodo. Sed quam ante, elementum sodales felis
                                    quis, rutrum tincidunt dolor. Etiam nec metus iaculis arcu cursus pulvinar. Nunc interdum
                                    eros a neque elementum lobortis. Nulla mattis quis risus vel molestie. Mauris id urna ac
                                    metus blandit lobortis in et odio.
                                </p>
                                <a href="blog-detail.html" class="btn btn-primary btn-small btn-grey">Read More</a>
                            </article>

                            <!-- Pagination -->
                            <div class="text-center">
                                <nav class="d-inline-block">
                                    <ul class="pagination">
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    </ul>
                                </nav>
                            </div>

                        </section>

                    </div>
                    <!-- end Content -->

                  <!-- sidebar -->
                    <div class="col-md-3 col-sm-3">

                        <section id="sidebar" class="sidebar">

                            <aside id="search">
                                <header><h3>Search</h3></header>
                                <div class="input-group">
                                    <input type="text" class="form-control framed" placeholder="Enter Keyword">
                                    <span class="input-group-btn"><button class="btn btn-primary btn-sm" type="button"><i class="fa fa-search"></i></button></span>
                                </div>
                            </aside>

                            <aside id="post-archive">
                                <header><h3>Post Archive</h3></header>
                                <ul class="list-links list-unstyled">
                                    <li><a href="#">June 2014</a></li>
                                    <li><a href="#">May 2014</a></li>
                                    <li><a href="#">April 2014</a></li>
                                    <li><a href="#">March 2014</a></li>
                                    <li><a href="#">January 2014</a></li>
                                    <li><a href="#">December 2013</a></li>
                                    <li><a href="#">November 2013</a></li>
                                    <li><a href="#">August 2013</a></li>
                                </ul>
                            </aside>

                            <aside id="categories">
                                <header><h3>Categories</h3></header>
                                <ul class="list-links list-unstyled">
                                    <li><a href="#">Architecture</a></li>
                                    <li><a href="#">Apartments</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Do it yourself</a></li>
                                    <li><a href="#">Housing</a></li>
                                    <li><a href="#">Interior</a></li>
                                    <li><a href="#">Trends</a></li>
                                </ul>
                            </aside>

                        </section>

                    </div>

                    <!-- end Sidebar -->
                </div>
            </div>

        </main>
        <!--end #content-->

  
        <!--FOOTER
        ================================================================================================================
        ================================================================================================================
        -->
        {% include footer1.html %}
        <!--end #footer-->

    </div>
    <!--end page-->

</div>
{% include scripts.html %}
</body>
</html>

<!-- Blog Layout End -->
