<!-- Blog Layout Start -->


<!doctype html>
<html lang="{{ site.lang }}">
    {% include header1.html %}
<body class="has-loading-screen">

<div class="ts-page-wrapper">
    <!--Brand Navigation
    ====================================================================================================================
    -->
    {% include brand1.html %}

    

    <!--Main Left Navigation
    ====================================================================================================================
    -->
     {% include navigation1.html %}

    <!--Content
    ====================================================================================================================
    -->
    <div class="ts-content">
        <!--HERO HEADER
        ================================================================================================================
        ================================================================================================================
        -->
        

        {% include header2.html %}

        <!--MAIN CONTENT
        ================================================================================================================
        ================================================================================================================
        -->
        

        {% include maincontent1.html %}

        <!--end #content-->

        <!--FOOTER
        ================================================================================================================
        ================================================================================================================
        -->
     {% include footer1.html %}
        <!--end #footer-->

    </div>
    <!--end page-->

</div>
{% include scripts.html %}
</body>
</html>

<!-- Blog Layout End -->
