
<!-- Post Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head2a.html %}

  <body class="has-loading-screen">
<div class="ts-page-wrapper">
       {% include brand1.html %}

      {% include navigation1.html %}
     <div class="ts-content">
        
          <header id="ts-hero" class="ts-block">

            <div class="container pt-2 pt-sm-5 pt-lg-0">
                <div class="ts-title mb-0">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>

        </header>

     <main id="ts-content">    
    <div class="row">
        <div class="col-md-9 col-sm-9">

                <section>

                            <article class="blog-post">
                                <a href="blog__detail.html" class="blog-post-header-image">
                                    <div class="bg-transfer"><img src="assets/img/bg__photographer.jpg" alt=""></div>
                                </a>
                                <figure class="meta">
                                    <a href="#" class="link-icon"><i class="fa fa-user"></i>Admin</a>
                                    <a href="#" class="link-icon"><i class="fa fa-calendar"></i>06/04/2014</a>
                                    <div class="tags">
                                        <a href="#" class="tag article">Architecture</a>
                                        <a href="#" class="tag article">Design</a>
                                        <a href="#" class="tag article">Trend</a>
                                    </div>
                                </figure>
                               {{ page.content | markdownify }}
                            </article>

                        </section>


         
            <strong>{{ page.date | date_to_string }}</strong>
            <small>
              . category:
              <a class="category" href="{{site.baseurl}}/categories/{{page.category | downcase}}.html">
                {{ page.category }}
              </a>.
              <a href="{{site.baseurl}}{{page.url }}#disqus_thread">Comments</a>
              <br />
              {% for tag in page.tags %}
                <a class="tag" href="{{site.baseurl}}/tags/{{tag | downcase}}.html">#{{ tag }}</a>
              {% endfor %}
            </small>
          </h4>

          <section class="text-justify">
            {{ page.content | markdownify }}
          </section>

        


        </div>
      </div>
         </main>
    </div>
      </div>

    {% include footer1.html %}

    {% include js1.html %}

  </body>
</html>

<!-- Post Layout End -->
