[
  {% for post in site.posts %}
    {
      {% if post.title != nil %}
      "title"    : "{{ post.title | escape | replace: "'", "" | remove: "'" | remove: '"' }}",
      "category" : "{{ post.categories }}",
      "tags"     : "{{ post.tags | join: ', ' }}",
      "image"    : "{{ post.image }}",
      "url"      : "{{ site.baseurl }}{{ post.url }}",
      "date"     : "{{ post.date }}",
      "content"  : "{{ post.content }}"
      {% endif %}
    } {% unless forloop.last %},{% endunless %}
  {% endfor %}
]  
