[
  {% for post in site.posts %}
    {
      {% if post.title != nil %}
      "title"    : "{{ post.title | escape | remove: "'" | remove: '"' | jsonify }}",
      "category" : "{{ post.categories }}",
      "tags"     : "{{ post.tags | join: ', ' }}",
      "url"      : "{{ site.baseurl }}{{ post.url }}",
      "date"     : "{{ post.date }}",
      "content"  : "{{ post.content | strip_html | strip_newlines | remove: "'" | remove: '"' | jsonify }}"
      {% endif %}
    } {% unless forloop.last %},{% endunless %}
  {% endfor %}
  ,
  {% for page in site.pages %}
   {
     {% if page.title != nil %}{% if page.url != "/assets/katex/" %}
        "title"    : "{{ page.title | escape  | remove: "'" | remove: '"' | jsonify }}",
        "category" : "{{ page.categories }}",
        "tags"     : "{{ page.tags | join: ', ' }}",
        "url"      : "{{ site.baseurl }}{{ page.url }}",
        "date"     : "{{ page.date }}",
        "content"  : "{{ page.content | strip_html | strip_newlines | remove: "'" | remove: '"' | jsonify }}"
     {% endif %}{% endif %}
   } {% unless forloop.last %},{% endunless %}
  {% endfor %}
]  
