<!doctype html>
<html lang="{{ site.lang }}">
    {% include header1.html %}
<body class="has-loading-screen">

<div class="ts-page-wrapper">
    <!--Brand Navigation
    ====================================================================================================================
    -->
    {% include brand1.html %}

    <!--Main Left Navigation
    ====================================================================================================================
    -->
    {% include navigation1.html %}

    <!--Content
    ====================================================================================================================
    -->
    <div class="ts-content">
        <!--HERO HEADER
        ================================================================================================================
        ================================================================================================================
        -->
        <header id="ts-hero" class="ts-block">

            <div class="container pt-2 pt-sm-5 pt-lg-0">
                <h1 data-animate="ts-reveal">
                    <span class="wrapper">
                        <span>Search</span>
                    </span>
                </h1>
                <!--<h4>Portfolio Two Columns</h4>-->
            </div>

        </header>

        <!--MAIN CONTENT
        ================================================================================================================
        ================================================================================================================
        -->
        <main id="ts-content">

            <!--Works
            ============================================================================================================
            -->
            <section id="works">
                <div class="container">

                    <div class="row no-gutters ts-gallery">

                          <br /><br />
  <div class="container" style="width:900px;">
   <h2 align="center"></h2>
   <h3 align="center"></h3>   
   <div align="center">
    <input type="text" name="search" id="search" placeholder="Search Website" class="form-control" />
   </div>
   <ul class="list-group" id="result"></ul>
   <br />
  </div>

                    </div>
                </div>
            </section>

            <!--Call to action
            ============================================================================================================
            -->
            <section class="py-5 text-center ts-background-repeat" data-bg-image="assets/img/bg__pattern--dot.png">
                <div class="container py-5 my-5">

                    <h2 class="mb-5">Do You Love What You See?</h2>
                    <a href="#" class="btn btn-outline-dark">Contact Us</a>

                </div>
            </section>

        </main>
        <!--end #content-->

         <!--FOOTER
        ================================================================================================================
        ================================================================================================================
        -->
        {% include footer1.html %}
        <!--end #footer-->

    </div>
    <!--end page-->

</div>
{% include scripts6.html %}
</body>
{% include scripts3.html %}
</html>

<!-- Blog Layout End -->
